.error__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: $main-white;
  user-select: none;

  .error__text--404 {
    font-size: 24px;
    border-right: 2px solid $main-white;
    vertical-align: middle;
    padding-right: 14px;
  }

  .error__text--title {
    padding-left: 14px;
    vertical-align: middle;
    font-size: 18px;
    height: 36px;
  }
}
