.navbar {
  position: fixed;
  background: $dark-green;
  height: 100vh;
  width: 54px;

  // Setting higher z-index than
  // loader for smoother feeling
  z-index: 100;

  .navbar__list {
    font: 18px "Open Sans", sans-serif;
    list-style-type: none;
    text-align: center;

    .navbar__item {
      height: 54px;

      .navbar__item__link {
        height: 54px;
        display: block;
        padding: 8px;
        border-radius: 12px;

        &:hover > .navbar__item__link__title {
          visibility: initial;
          cursor: pointer;
          width: 130px;
          opacity: 1;
        }

        &.active > .icon {
          filter:
            // First change svg to black
            brightness(0)
            saturate(100%)

            // Then change it to orange
            invert(83%)
            sepia(63%)
            saturate(1740%)
            hue-rotate(322deg)
            brightness(99%)
            contrast(90%);
        }

        &.active > .navbar__item__link__title {
          color: $main-orange;
        }

        .icon {
          width: 30px;
          margin-top: 4px;
        }
      }

      .navbar__item__link__title {
        visibility: hidden;
        display: flex;
        overflow: hidden;
        font: bold 21px "Open Sans", sans-serif;
        background: $dark-green;
        color: $main-white;
        border-radius: 0 12px 12px 0;
        margin: -47px 0 90px 46px;
        transition: 0.35s ease-out;
        align-items: center;
        height: 54px;
        width: 0;

        .navbar__item__link__title--margin {
          margin-left: 10px;
        }
      }
    }
  }
}
